src/test/resources/blocks/mule3/session-variable/set_session_variable_with_http_source.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <http:listener-config name="HTTP_Config" host="0.0.0.0" port="8081" basePath="/mule3" doc:name="HTTP Listener Config"/>
    <flow name="sessionVarExampleFlow">
        <!-- HTTP Listener as the source -->
        <http:listener config-ref="HTTP_Config" path="/session" allowedMethods="GET" doc:name="HTTP Listener"/>

        <!-- Set Session Variable -->
        <set-session-variable variableName="sessionVarExample" value="Initial Value" doc:name="Set Session Variable"/>

        <!-- Log Initial Session Variable -->
        <logger message="Session Variable (Initial): #[sessionVars.sessionVarExample]" level="INFO" doc:name="Logger Initial"/>

        <!-- Modify Session Variable -->
        <set-session-variable variableName="sessionVarExample" value="Modified Value" doc:name="Modify Session Variable"/>

        <!-- Log Modified Session Variable -->
        <logger message="Session Variable (Modified): #[sessionVars.sessionVarExample]" level="INFO" doc:name="Logger Modified"/>

        <set-payload value="{&quot;message&quot;:&quot;Check logs for session variable values&quot;}" doc:name="Set JSON Response"/>
    </flow>
</mule>
