mule/src/test/resources/mule/v3/blocks/vm-connector/simple_vm_connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="outboundVmFlow">
        <set-payload value="#['Hello World']" doc:name="Set Payload"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="path-xxx" doc:name="VM"/>
    </flow>
    <flow name="inboundVmFlow">
        <vm:inbound-endpoint exchange-pattern="one-way"  doc:name="VM" path="path-xxx"/>
        <logger message="Received a message: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
