src/test/resources/blocks/mule3/choice/choice_with_http_listener_source.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="config" host="0.0.0.0" port="8081"  doc:name="HTTP Listener Configuration" basePath="mule3"/>
    <flow name="muleProject">
        <http:listener config-ref="config" path="/"  doc:name="HTTP" allowedMethods="GET"/>
        <set-variable variableName="marks" value="#[73]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.marks > 75]">
                <logger message="You have scored #[flowVars.marks]. Your grade is A." level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[flowVars.marks > 65]">
                <logger message="You have scored #[flowVars.marks]. Your grade is B." level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[flowVars.marks > 55]">
                <logger message="You have scored #[flowVars.marks]. Your grade is C." level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="You have scored #[flowVars.marks]. Your grade is F." level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
