mule/src/test/resources/mule/v4/blocks/http-request/http_request_with_mel_config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:request-config name="http_request_config" doc:name="HTTP Request configuration" doc:id="1e0d78e1-e5fb-44a9-9b18-b86c0d151be6" >
        <http:request-connection host="${secure::api.host}" port="${secure::api.port}" />
    </http:request-config>
    <flow name="demoFlow" doc:id="1d088811-dee1-455d-a909-529d3c54662f" >
        <http:request method="GET" doc:name="Request" doc:id="b91d51d7-5c26-40a3-8ec5-66426b32989e" config-ref="http_request_config" path="${secure::api.endpoint}">
            <http:headers>
            <![CDATA[#[output application/java
                ---
                {
                    "client-id" : p('anypoint.auth.client_id'),
                    "client-secret" : Mule::p('anypoint.auth.client_secret'),
                    "Content-Type" : "application/json"
                }]]]>
            </http:headers>
            <http:uri-params><![CDATA[#[output application/java
                ---
                {
                    "id" : vars.id
                }]]]>
            </http:uri-params>
            <http:query-params><![CDATA[#[output application/java
                ---
                {
                    "language" : vars.language
                }]]]>
            </http:query-params>
        </http:request>
        <logger level="INFO" doc:name="Logger" doc:id="d0390e1c-7a02-44af-87b0-41f9834a6158" message="Received from external API: #[payload]"/>
    </flow>
</mule>
