src/main/resources/muledemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a1d30b8e-6bea-4d1d-bcd1-d9a89307d481" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muledemoFlow" doc:id="31d63b42-12f6-4b4a-aa03-b27739f059d9" >
		<http:listener doc:name="Listener" doc:id="c11d1c15-eee8-494e-8568-53271adaed65" config-ref="HTTP_Listener_config" path="/demo" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger1" doc:id="256e5c24-fc91-42da-94b2-7c5991d34bf8" message="xxx: logger1 invoked"/>
		<set-payload value='#[{"name":"lochana"}]' doc:name="Set Payload" doc:id="26a568c1-473b-4b9f-9cca-5aea8589fc6f" />
		<logger level="INFO" doc:name="Logger2" doc:id="44908bb4-7a4f-41a6-835d-1bfb19523513" message="xxx: logger2 invoked"/>
	</flow>
</mule>
