src/main/resources/muledemo_backup.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd">
    <http:listener-config name="config1" doc:name="HTTP Listener config" doc:id="85b56e19-f77d-4d11-bfbe-b30beae6e98a" basePath="/mule" >
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <flow name="muledemoFlow1" doc:id="a98faf69-8a03-4ae0-b9c4-66197c6079e4" >
        <http:listener doc:name="Listener" doc:id="b78e474b-57ab-4d63-a124-00937a30463d" path="/demo" config-ref="config1" allowedMethods="GET"/>
        <set-variable value="#[attributes.queryParams.foo]" doc:name="Set Variable" doc:id="e9151c58-113c-4a88-951a-5277c9ced14a" variableName="foo0"/>
        <choice doc:name="Choice" doc:id="d2cee411-77bd-4395-854b-ae27da403d11" >
            <when expression='#[vars.foo0 == "10"]'>
                <logger level="INFO" doc:name="Logger" doc:id="372ded51-1900-458f-9ee6-17e5d0c15d38" message="xxx: true condition reached"/>
                <set-variable value="#[vars.foo0]" doc:name="Set Variable" doc:id="60108471-73a7-41b3-971b-208ae7c5340b" variableName="foo1"/>
                <logger level="INFO" doc:name="Logger" doc:id="529dea7c-ccd4-4f61-9c88-dab980f19e08" message="#[vars.foo1]"/>
            </when>
            <otherwise >
                <logger level="INFO" doc:name="Logger" doc:id="882a2e75-7076-4709-aaf9-24d66dffa870" message="xxx: false condition reached"/>
            </otherwise>
        </choice>
        <set-payload value='{"name" : "Lochana"}' doc:name="Set Payload" doc:id="3ae4ba38-db72-4cbd-be0e-d7cf3057a57d" />
        <logger level="INFO" doc:name="Logger" doc:id="b1f2b490-4f47-4229-9ab5-feb393ea46b1" message="xxx: end of the flow reached"/>
    </flow>
</mule>
