mule/src/test/resources/mule/v3/blocks/message-enricher/enricher_with_inside_flow_reference.xml
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    <flow name="variableEnricherFlow">
        <set-variable variableName="userId" value="st455u" doc:name="Variable"/>
        <set-variable variableName="enrichedUserId" value="null" doc:name="Variable"/>
        <enricher source="#[flowVars.userId]" target="#[flowVars.enrichedUserId]" doc:name="Message Enricher">
            <flow-ref name="flow1" doc:name="Flow Reference"/>
        </enricher>
        <logger message="User ID: #[flowVars.userId], Enriched User ID: #[flowVars.enrichedUserId]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="flow1">
        <logger message="xxx: flow1 starting logger invkoed" level="INFO" doc:name="Logger"/>
        <logger message="xxx: end of flow1 reached" level="INFO" doc:name="Logger"/>
    </flow>

</mule>
