mule/src/test/resources/mule/v4/blocks/choice/choice_with_http_listener_source.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
      xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <http:listener-config name="config" doc:name="HTTP Listener config" doc:id="85b56e19-f77d-4d11-bfbe-b30beae6e98a" basePath="mule4">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <flow name="demoFlow" doc:id="7e3855d0-bb40-460c-999b-b4705f53198c" >
        <http:listener doc:name="Listener" doc:id="2d80f8b6-ba81-46e0-91b7-516a8e4fdb67" config-ref="config" path="/choice" allowedMethods="GET"/>
        <set-variable value="#[73]" doc:name="Set Variable" doc:id="c92878cc-4b5f-4965-858d-55c6ab90e62b" variableName="marks" />
        <choice doc:name="Choice" doc:id="b9372ec9-6743-4047-945e-b378284f018f" >
            <when expression="#[vars.marks &gt;= 75]">
                <logger level="INFO" doc:name="Logger" doc:id="120cc6e6-95af-4b47-9e42-68cb91f33b6a" message="You have scored #[vars.marks]. Your grade is 'A'."/>
            </when>
            <when expression="#[vars.marks &gt;= 65]">
                <logger level="INFO" doc:name="Logger" doc:id="3994d7b7-a1e1-455a-a640-c59c6f93b6e5" message="You have scored #[vars.marks]. Your grade is 'B'."/>
            </when>
            <when expression="#[vars.marks &gt;= 55]">
                <logger level="INFO" doc:name="Logger" doc:id="097f3b96-f6c8-4105-ab0b-62a8bdeac92f" message="You have scored #[vars.marks]. Your grade is 'C'."/>
            </when>
            <otherwise >
                <logger level="INFO" doc:name="Logger" doc:id="5e5c770a-1d59-4d36-8142-51f10fdecf34" message="You have scored #[vars.marks]. Your grade is 'F'."/>
            </otherwise>
        </choice>
    </flow>
</mule>
