mule/src/test/resources/mule/v3/blocks/mule3/misc/external_property_access_in_message.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="HTTP_Config" host="0.0.0.0" port="${http.port}" basePath="prop-access" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Config" host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" doc:name="MySQL Configuration" database="${db.database}"/>
    <http:listener-config name="Listener_Config"  host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="myFlow">
        <http:listener config-ref="Listener_Config" path="/test" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="dbConnectionString" value="#['${http.host}' + ':' + '${http.port}']" doc:name="Set DB Connection String"/>
        <logger message="App running on port: ${http.port}" level="INFO" doc:name="Log App Running Port"/>
        <db:select config-ref="MySQL_Config" doc:name="Database">
            <db:parameterized-query/>
        </db:select>
        <logger message=" Welcome, ${user.firstName} ${user.lastName}. Your account balance is ${user.balance}" level="INFO" doc:name="Logger Welcome Message"/>
    </flow>
</mule>
