mule/src/test/resources/mule/v4/blocks/error-handler/error_handler_with_conditions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="listener_config" doc:name="HTTP Listener config" doc:id="73a0fa89-f2fe-48ca-a692-eb28f9809a9c" basePath="mule4">
        <http:listener-connection host="0.0.0.0" port="8083" />
    </http:listener-config>
    <flow name="demoFlow" doc:id="604393a2-20fb-418b-9672-84c2febf6be4" >
        <http:listener doc:name="Listener" doc:id="0f4ad9ee-5c97-46eb-819d-8576f3cb125c" config-ref="listener_config" path="error_handler" allowedMethods="GET" />
        <set-payload value="#[1/0]" doc:name="Cause Error (Divide by Zero)" doc:id="2a4f136a-497a-4f72-aa9d-0bec782c6239" />
        <logger level="INFO" doc:name="Logger" doc:id="c492fc94-6338-4ed3-8ca8-472c2f4f4ad6" message="xxx: log after exception"/>
        <error-handler ref="my_error_handler" />
    </flow>
    <error-handler name="my_error_handler" doc:id="6a75f334-17ac-4c23-9856-32117be015d6" >
        <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="72999e22-2e4d-4371-b747-dc8ce627ea39" type="ANY" when="#[error.description contains 'timeout']">
            <logger level="INFO" doc:name="Logger" doc:id="88085ccb-999a-46eb-b3eb-768502bf2eeb" message="xxx: first error catch" />
        </on-error-propagate>
        <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="41fa5d79-7006-4cb9-861d-e72826c00ae5" type="EXPRESSION">
            <logger level="INFO" doc:name="Logger" doc:id="720a9479-af93-49f5-972e-355785c135f7" message="xxx: second error catch"/>
        </on-error-continue>
        <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="2536ea48-73be-443d-9d20-ac8f062f2bcf" when="#[error.cause.'type' == 'java.lang.NullPointerException']">
            <logger level="INFO" doc:name="Logger" doc:id="895923bb-1df1-4060-87c1-77a21b1e72ce" message="xxx: last error catch"/>
        </on-error-continue>
    </error-handler>
</mule>
