mule/src/main/resources/muledemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	  xmlns="http://www.mulesoft.org/schema/mule/core"
	  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd">
	<http:listener-config name="config1" doc:name="HTTP Listener config" doc:id="85b56e19-f77d-4d11-bfbe-b30beae6e98a" basePath="/foo" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muledemoFlow" doc:id="d69724f8-64ba-4da5-a94a-62aae8d8053b" >
		<http:listener doc:name="Listener" doc:id="a8f7cd61-ba1e-40a3-b978-29282ffe3b83" config-ref="config1" allowedMethods="GET, POST, PUT" path="/demo"/>
		<logger level="INFO" doc:name="Logger" doc:id="def22ab8-ade9-44f6-a320-35fe8df1a716" message="xxx: listener invoked"/>
		<set-variable value="#[attributes.queryParams.name]" doc:name="Set Variable" doc:id="ddcb1c6a-3244-402c-90fc-fd5b3235887f" variableName="firstName"/>
		<logger level="INFO" doc:name="Logger" doc:id="2c5a6aba-1a72-4660-ae2a-8c863684e60c" message="#[vars.firstName]"/>
		<choice doc:name="Choice" doc:id="fce633c4-8c8c-401a-8ff2-223b72b6639c" >
			<when expression='#[vars.firstName=="ross"]'>
				<logger level="INFO" doc:name="Logger" doc:id="0ae44fde-4cea-4aee-ba70-7c764f1fc696" message="xxx: ross condition reached"/>
				<http:request method="GET" doc:name="Request" doc:id="8b599e58-7c65-422e-96ea-4345eaca40aa" url="http://localhost:9090/greetings/hello">
					<http:query-params ><![CDATA[#[output application/java
---
{
	"name" : "Ross"
}]]]></http:query-params>
				</http:request>
				<set-payload value='#[{"name":"ross"}]' doc:name="Set Payload" doc:id="54a608cd-05bb-4041-b00d-118fbb5ba980" />
				<logger level="INFO" doc:name="Logger" doc:id="68177629-a1cb-4a50-9f5a-24a67047b3fe" message="xxx: end of ross flow reached"/>
			</when>
			<when expression='#[vars.firstName=="mickle"]'>
				<logger level="INFO" doc:name="Logger" doc:id="f3944b47-7c6f-41b1-af4e-7f841a02d854" message="xxx: mickle condition reached"/>
				<!-- [STUDIO:"Request"]<http:request method="GET" doc:name="Request" doc:id="5f2ce4a5-c821-40ed-b947-782b950775c9" url="http://localhost:9090/greetings/hello">
					<http:query-params ><![CDATA[#[output application/java
&#45;&#45;-
{
	"name" : "mickle"
}&#93;&#93;&#93;></http:query-params>
				</http:request> [STUDIO] -->
				<set-payload value='#[{"name":"mickle"}]' doc:name="Set Payload" doc:id="dc2ab658-1915-40b6-93d9-6a5ebe61c1a6" />
				<logger level="INFO" doc:name="Logger" doc:id="43c6081f-3e10-490e-a438-faf4329ff177" message="xxx: end of mickle flow reached"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="3d27ec1e-5c52-4ba8-ad60-486e69fd9424" message="xxx: default condition reached"/>
				<set-payload value='#[{"name":"default"}]' doc:name="Set Payload" doc:id="398e70d9-eb53-47b8-8c50-6be943af0ef8" />
				<logger level="INFO" doc:name="Logger" doc:id="3d3924f2-5f80-4f88-a571-3688ffa4776a" message="xxx: end of default flow reached"/>
			</otherwise>
		</choice>
	</flow>
</mule>
