mule/src/test/resources/blocks/mule3/session-variable/simple_remove_session_variable.xml
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">
    <flow name="weatherServiceFlow">
        <set-session-variable variableName="bar" value="#['hello session']" doc:name="Session Variable"/>
        <remove-session-variable variableName="bar" doc:name="Session Variable"/>
    </flow>
</mule>
