mule/src/test/resources/mule/v4/blocks/variable/basic_set_variable.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="config" host="0.0.0.0" port="8081"  doc:name="HTTP Listener Configuration" basePath="mule3"/>
    <flow name="demoFlow">
        <http:listener config-ref="config" path="/" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="name" value="John" doc:name="Variable"/>
        <set-variable variableName="age" value="29" doc:name="Variable"/>
        <set-variable variableName="from" value="USA" doc:name="Variable"/>
        <logger message="Variables defined are: name - #[flowVars.name], age - #[flowVars['age']], from - #[flowVars['from']]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
