mule/src/test/resources/mule/v3/blocks/scatter-gather/basic_scatter-gather.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:spring="http://www.springframework.org/schema/beans" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.9/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.9/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">
    <http:listener-config name="HTTP_Listener_config" host="0.0.0.0" port="9090" doc:name="HTTP Listener config"/>
    <flow name="scatterGatherFlow">
        <http:listener config-ref="HTTP_Listener_config" path="/scatter" doc:name="HTTP Listener"/>
        <scatter-gather doc:name="Scatter-Gather">
            <set-payload value="Route 1 completed" doc:name="Set Payload 1"/>
            <set-payload value="Route 2 completed" doc:name="Set Payload 2"/>
            <set-payload value="Route 3 completed" doc:name="Set Payload 3"/>
        </scatter-gather>
        <logger level="INFO" message="#[payload]" doc:name="Logger"/>
    </flow>
</mule>
