mule/src/test/resources/mule/v4/blocks/mq-subscriber/basic_mq_subscriber_ack.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <anypoint-mq:config name="mq_config" doc:name="Anypoint MQ Config" doc:id="a1b2c3d4-e5f6-7890-abcd-ef1234567890">
        <anypoint-mq:connection clientId="mq-client" clientSecret="mq-secret" />
    </anypoint-mq:config>
    <flow name="mqSubscriberFlow" doc:id="7e3855d0-bb40-460c-999b-b4705f53198c">
        <anypoint-mq:subscriber doc:name="MQ Subscriber" doc:id="2d80f8b6-ba81-46e0-91b7-516a8e4fdb67" config-ref="mq_config" destination="test-queue"/>
        <logger level="INFO" doc:name="Logger" doc:id="c56aad96-6335-49a3-9b27-6d2b5ab0a963" message="xxx: logger invoked"/>
        <anypoint-mq:ack doc:name="Ack" doc:id="7e3855d0-bb40-460c-999b-b4705f53198c" config-ref="mq_config" ackToken="#[vars.attributes.ackToken]">
        </anypoint-mq:ack>
    </flow>
</mule>
