mule/src/test/resources/mule/v4/blocks/mq-subscriber/mq_publish_in_http_service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="http_config" doc:name="HTTP Listener config" doc:id="85b56e19-f77d-4d11-bfbe-b30beae6e98a" basePath="/api">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <anypoint-mq:config name="mq_config" doc:name="Anypoint MQ Config" doc:id="a1b2c3d4-e5f6-7890-abcd-ef1234567890">
        <anypoint-mq:connection clientId="mq-client" clientSecret="mq-secret" />
    </anypoint-mq:config>
    <flow name="httpMqFlow" doc:id="7e3855d0-bb40-460c-999b-b4705f53198c">
        <http:listener doc:name="Listener" doc:id="2d80f8b6-ba81-46e0-91b7-516a8e4fdb67" config-ref="http_config" allowedMethods="POST" path="/send-message"/>
        <logger level="INFO" doc:name="Logger" doc:id="c56aad96-6335-49a3-9b27-6d2b5ab0a963" message="Processing HTTP request"/>
        <anypoint-mq:publish doc:name="Publish to MQ" doc:id="7e3855d0-bb40-460c-999b-b4705f53198c" config-ref="mq_config" destination="orders-queue" messageId="#[vars.correlationId]">
            <anypoint-mq:properties><![CDATA[#[output application/java
---
{
	"source" : "http-service",
	"timestamp" : now()
}]]]></anypoint-mq:properties>
        </anypoint-mq:publish>
        <set-payload value='{"status": "Message published successfully"}' mimeType="application/json"/>
    </flow>
</mule>
