mule/src/test/resources/mule/v4/blocks/mq-subscriber/mq_publish_in_apikit_service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="http-listener-config" doc:name="HTTP Listener config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="apikit-config" raml="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <anypoint-mq:config name="mq_config" doc:name="Anypoint MQ Config" doc:id="a1b2c3d4-e5f6-7890-abcd-ef1234567890">
        <anypoint-mq:connection clientId="mq-client" clientSecret="mq-secret" />
    </anypoint-mq:config>
    <flow name="apiKitMain">
        <http:listener config-ref="http-listener-config" path="/api" />
        <apikit:router config-ref="apikit-config" />
    </flow>
    <flow name="post:\orders:apikit-config" doc:id="7e3855d0-bb40-460c-999b-b4705f53198c">
        <logger level="INFO" doc:name="Log Order" message="Processing new order"/>
        <anypoint-mq:publish doc:name="Publish Order to MQ" doc:id="mq-publish-001" config-ref="mq_config" destination="orders-queue" messageId="#[vars.orderId]">
            <anypoint-mq:properties><![CDATA[#[output application/java
---
{
	"apiEndpoint" : "POST /orders",
	"processedAt" : now()
}]]]></anypoint-mq:properties>
        </anypoint-mq:publish>
        <set-payload value='{"status": "Order received and queued"}' mimeType="application/json"/>
    </flow>
</mule>
