mule/src/test/resources/mule/v4/blocks/try/basic_try_scope.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <flow name="muleDemoFlow">
        <http:listener path="/checkAge" config-ref="HTTP_Listener_config" allowedMethods="POST"/>
        <logger level="INFO" message="Start of flow - Payload received: #[payload]"/>
        <try>
            <choice>
                <when expression="#[payload.age as Number &lt; 16]">
                    <raise-error type="PRECONDITIONS:INCORRECT_AGE" description="Age is below minimum requirement"/>
                </when>
                <otherwise>
                    <logger level="INFO" message="Age is acceptable: #[payload.age]"/>
                </otherwise>
            </choice>
            <error-handler>
                <on-error-continue logException="true">
                    <set-payload value='{ "status": "error", "message": "#[error.description]" }' mimeType="application/json"/>
                </on-error-continue>
            </error-handler>
        </try>

        <logger level="INFO" message="End of flow"/>
    </flow>
</mule>
