mule/src/test/resources/mule/v3/blocks/mule3/expression-component/simple_expression_component.xml
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">
    <flow name="combineFlowVarsAndPayloadFlow">
        <set-variable variableName="name" value="Alice"/>
        <set-payload value="Welcome"/>
        <expression-component>
            <![CDATA[
                flowVars.name = "Alice";
                payload = "Hello " + flowVars.name;
            ]]>
        </expression-component>
        <logger message="Message: #[payload]" level="INFO"/>
    </flow>
</mule>
