mule/src/test/resources/mule/v3/blocks/for-each/basic_for_each.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:spring="http://www.springframework.org/schema/beans" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.9/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.9/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

    <http:listener-config name="HTTP_Listener_config" host="0.0.0.0" port="9090" doc:name="HTTP Listener Configuration"/>

    <flow name="muleDemoFlow">
        <http:listener path="/demo" config-ref="HTTP_Listener_config" allowedMethods="POST" doc:name="HTTP"/>
        <set-payload value='["Alice", "Bob", "Charlie"]' doc:name="Set Payload" mimeType="application/json"/>
        <foreach doc:name="For Each">
            <logger level="INFO" doc:name="Logger" message="Current item: #[payload]"/>
        </foreach>
    </flow>
</mule>
