mule/src/test/resources/mule/v4/blocks/vm-connector/vm_connector_inside_async_block.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="listener_config" doc:name="HTTP Listener config" doc:id="73a0fa89-f2fe-48ca-a692-eb28f9809a9c" basePath="mule4">
        <http:listener-connection host="0.0.0.0" port="8083" />
    </http:listener-config>
    <vm:config name="vm_config" doc:name="VM Config" doc:id="86002305-9a20-41b5-9fa7-366f22f6b150" >
        <vm:queues >
            <vm:queue queueName="path-xxx" />
        </vm:queues>
    </vm:config>
    <flow name="vmPublishFlow" doc:id="fabf4ce6-4d19-4c08-a336-91ed5855cb89" >
        <http:listener doc:name="Listener" doc:id="3c0de3f4-a0bb-45f1-8738-c895f39dfc28" config-ref="listener_config" path="vm" allowedMethods="GET"/>
        <set-payload value="#['Hello World!']" doc:name="Set Payload" doc:id="78cb0334-d2f9-4c20-929d-fc0b9d9487d6" />
        <async doc:name="Async" doc:id="71864892-7961-40ed-a7a2-60c3b7231c53" >
            <vm:publish doc:name="Publish" doc:id="775463a5-2ebe-45e2-a404-6ca7dcff1a07" config-ref="vm_config" queueName="path-xxx" />
        </async>
        <logger level="INFO" doc:name="Logger" doc:id="34ed4cd4-2e3d-45c9-b44c-dbe1494e5cb5" message="xxx: logger after async block"/>
    </flow>
    <flow name="vmListenerFlow" doc:id="818524a7-b63e-4503-bea9-0d9bfc3f01fe" >
        <vm:listener queueName="path-xxx" doc:name="Listener" doc:id="0aa2e312-4f64-4cf0-b329-55be7fa92e57" config-ref="vm_config"/>
        <logger level="INFO" doc:name="Logger" doc:id="28abd699-9ca3-4a74-8e80-ea47155a5403" message="Received a message: #[payload]"/>
    </flow>
</mule>
