bin/test/blocks/mule3/message-enricher/empty_message_enricher.xml
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

    <flow name="variableEnricherFlow">
        <set-variable variableName="userId" value="st455u" doc:name="Variable"/>
        <set-variable variableName="enrichedUserId" value="null" doc:name="Variable"/>
        <enricher source="#[flowVars.userId]" target="#[flowVars.enrichedUserId]" doc:name="Message Enricher">
        </enricher>
        <logger message="User ID: #[flowVars.userId], Enriched User ID: #[flowVars.enrichedUserId]" level="INFO" doc:name="Logger"/>
    </flow>

</mule>
