mule/src/test/resources/mule/v4/blocks/scatter-gather/basic_scatter-gather.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <flow name="scatterGatherFlow">
        <http:listener config-ref="HTTP_Listener_config"
                       path="/scatter"
                       doc:name="HTTP Listener"/>

        <scatter-gather doc:name="Scatter-Gather">
            <route>
                <set-payload value='Route 1 completed' doc:name="Set Payload 1"/>
            </route>
            <route>
                <set-payload value='Route 2 completed' doc:name="Set Payload 2"/>
            </route>
            <route>
                <set-payload value='Route 3 completed' doc:name="Set Payload 3"/>
            </route>
        </scatter-gather>
        <logger level="INFO" message="#[payload]" doc:name="Logger"/>
    </flow>

    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
        <http:listener-connection host="0.0.0.0" port="9090"/>
    </http:listener-config>
</mule>
